<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font awesome css cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/website.css" />
  </head>
  <body>
    <header>
      <h2><a href="#">SFS</a></h2>
      <nav>
        <li><a href="/">Home</a></li>
        
        <li><a href="teacher">Teacher</a></li>
        <li><a href="signup">signup</a></li>
        <li><a href="/logout">logout</a></li>
      </nav>
    </header>

    <section class="banner-area">
      <div class="banner-img"></div>
      <h1>Student Feedback System</h1>
      <h3>Good feedback is the key to improvement</h3>
      <a href="#contact" class="banner-btn">Contact us</a>
    </section>

    <section class="about-area" id="about">
      <h3 class="section-title">About Us</h3>
      <ul class="about-content">
        <li class="about-left"></li>
        <li class="about-right">
        
          <p class="about-us">
            Here we have developed a student feedback system which is generally used in the college to rate the faculty based on their performance.
             The "feedback system" approaches all about institutional practices and processes that are taken into consideration, the students concerns of the level of knowledge they receive.
             The student feedback system is a management information system for education establishments to manage student data.
             An online student feedback system is an automatic fedback generation system that provides the proper feedback to the teachers as per the categories.
          </p>
         
        </li>
      </ul>
    </section>

    <section class="services-area" id="services">
      <h3 class="section-title">Services</h3>
      <ul class="services-content">
        <li>
          <i class="fa-solid fa-laptop"></i>
          <h4>Improve educational outcomes</h4>
          <p>
            A proven feedback software for educational institutes lets you know the viewpoint of students and their ideas on how to improve the education.
It gives students, faculty, management, and alumni a channel to express their ideas, opinions and suggestions.
          </p>
        </li>
        <li>
          <i class="fa-solid fa-user"></i>
          <h4>Express freely</h4>
          <p>
            This will increase the satisfaction levels amongst them and realize better value for money. With student feedback system, you can analyze what works for a group of students and what not. Also, what works for a set of students, may not work for others.
          </p>
        </li>
        <li>
          <i class="fa-solid fa-chart-simple"></i>
          <h4>Feedback collection</h4>
          <p>
            Usabilla mostly focuses on collecting feedback data. But the way we see it, whether you're running a full-fledged simply measuring online feedback on a website, you're going to need more than just smileys.
          </p>
        </li>
      </ul>
    </section>

    <section class="contact-area" id="contact">
      <h3 class="section-title">Contact</h3>
      <ul class="contact-content">
        <li>
          <i class="fa fa-map-marker"></i>
          <p>Symbiosis Institite Of Technology <br>Near Lupin Research Park, Lavale 412115</p>
        </li>
        <li>
          <i class="fa fa-phone"></i>
          <p>+91 7878009125 <br>+91 9054489093</p>
        </li>
        <li>
          <i class="fa fa-envelope"></i>
          <p>yugant.savani.btech2020@sitpune.edu.in <br>hetang.kothadia.btech2020@sitpune.edu.in <br> jeel.patel.btech2020@sitpune.edu.in <br> ishmeet.khanuja.btech2020@sitpune.edu.in</p>
        </li>
      </ul>
    </section>

    <footer>
      <p> @ All Rights Reserved  </p>
    </footer>
  
  
  </body>
</html>
